.nav-center
{
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
.top-text{
	font:"Helvetica,Arial,sans-serif";
    color: rgb(255,255,255);
    font-weight:bold;
    font-size:large;
}

p {
	font-family: "Open Sans","Tahoma","Verdana","Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
	line-height: 1.7;
	color: #535353;
    text-align: justify;
}