{% extends "base.html" %}
{% block head %}

  {{ super() }}
  {% if article.image %}
  <meta property="og:image" content="{{ article.image }}" />
  {% endif %}

{% endblock %}

{% block content %}

<div class="navbar navbar-default navbar-fixed-top nav-center">
  <div class="container">

      <span class="top-text">{{ TITLEBAR_TEXT }}</span>
      <a href="{{ SITEURL }}" class="btn btn-warning navbar-btn"><b>Clique Aqui!</b></a>

  </div>
</div>

  <div class="container">
    {{ article.content }}
  </div><!-- /container -->
{% endblock %}
