<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>

      <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

      <meta charset="UTF-8">
      {% block head %}

      <meta name="viewport" content="width=device-width, initial-scale=1">

    	<link rel="stylesheet" href="/theme/css/bootstrap.min.css" media="screen">
    	<link rel="stylesheet" href="/theme/css/bootswatch.min.css">
    	<link rel="stylesheet" href="/theme/css/my-styles.css">
    	<link rel="stylesheet" href="/theme/css/font-awesome.min.css">
    	<link rel="stylesheet" href="/theme/css/social-buttons.css">

    	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    	<!--[if lt IE 9]>
    		<script src="js/html5shiv.js"></script>
    		<script src="js/respond.min.js"></script>
    	<![endif]-->

      <link rel="shortcut icon" href="/images/Logo-dp2-16x16.png" />
      <link rel="apple-touch-icon" href="/images/Logo-dp2-114x114.png" />

      <meta property="og:title" content="Aula 1/10 - Por que aprender programação?" />
      <meta property="og:description" content="Minicurso 100% GRÁTIS de Lógica de Programação. 10 aulas super explicada com a melhor didática para ensinar programação do ZERO para qualquer pessoa!" />
      <meta property="og:site_name" content="{{ SITENAME }}" />
      <meta property="article:author" content="https://www.facebook.com/gustavo.foa" />
      <meta property="og:image" content="/images/gustavo-furtado.jpg" />

      {% endblock head %}


</head>

<body id="index" class="home">
        <header id="banner" class="body">
                <h1><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
        </header><!-- /#banner -->
        <nav id="menu"><ul>
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in pages %}
            <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
        {% else %}
          {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for cat, null in categories %}
              <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
          {% endif %}
        {% endif %}
        </ul></nav><!-- /#menu -->
        {% block content %}
        {% endblock %}
        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
                which takes great advantage of <a href="http://python.org">Python</a>.
                </address><!-- /#about -->
        </footer><!-- /#contentinfo -->
</body>
</html>
