{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block content %}

    <h1>{{ page.title }}</h1>

    {{ page.content }}

    <hr />
    <small>
      Você está recebendo este e-mail exclusivo porque se inscreveu no minicurso de lógica de programação
       do site <a href="http://www.dicasdeprogramacao.com.br"><strong>{ Dicas de Programação }</strong></a>.
      <br />Se não quiser mais receber e-mails com dicas sobre programação
      <unsubscribe>clique aqui para se desinscrever</unsubscribe>.
    </small>

{% endblock %}
